.elements__like {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-disabled.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-style: none;
  background-color: #fff;
}

.elements__like:hover {
  opacity: .5;
  cursor: pointer;
}

.elements__like:active {
  background-image: url(../../../images/like_active.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}
