.popup__container_type_registrationStatus {
  padding: 60px 36px;
  box-sizing: border-box;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
